api_id=your_api_id # Optional
api_hash=your_api_hash # Optional
bot_token=your_bot_token
session=your_session_string
admin_id=your_telegram_account_id
paste_bin_api=your_paste_bin_account_api
groq_api_key=your_groq_api_key