api_id=your_api_id # Optional
api_hash=your_api_hash # Optional
bot_token=your_bot_token
bot_username=your_bot_username # Optional
session=your_session_string
admin_id=your_telegram_account_id
paste_bin_api=your_paste_bin_account_api
gemini_api_key=your_gemini_api_key